[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-wine-extension-url;
Exec=env WINEPREFIX="/home/zadca123/.ltspice/env" wine start /ProgIDOpen InternetShortcut %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
