[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=text/xml;
Exec=env WINEPREFIX="/home/zadca123/.ltspice/env" wine start /ProgIDOpen xmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
